<ion-content padding>
  <ion-navbar>
    <ion-title>Ejercicios Ejecutados</ion-title>
  </ion-navbar>
  <ion-list inset>
    <ion-item-divider>Caminata</ion-item-divider>
    <ion-item *ngFor="let step of steps" padding>
      <p item-start class="item-text"> {{step.type}}</p> <p item-end class="item-text">{{step.save_time}} </p>
    </ion-item>
    <ion-item-divider>Abdominales</ion-item-divider>
    <ion-item *ngFor="let A of ABS" padding>
      <p item-start class="item-text"> {{A.type}}</p> <p item-end class="item-text">{{A.save_time}} </p>
    </ion-item>
    <ion-item-divider>Saltos</ion-item-divider>
    <ion-item *ngFor="let jump of jumps" padding>
      <p item-start class="item-text"> {{jump.type}}</p> <p item-end class="item-text">{{jump.save_time}} </p>
    </ion-item>
  </ion-list>

</ion-content>
